.container
  .raw
    center
      div(style='border:black 1px solid;', ng-controller="physicsPixiController as main")
        physics-pixi
          physics-body(type='rectangle', body='main.box1', options='{x:450, y:10, vy:-0.3, width:5, height:5}')  
          physics-body(type='rectangle', body='main.box2', options='{x:250, y:210, vy:-0.3, width:5, height:5}') 
          physics-edge-detection(min-x='0', min-y='0', max-x='500', max-y='500', restitution='0.3') 
          physics-behavior(name='constant-acceleration')    
          physics-behavior(name='body-impulse-response')    
          physics-behavior(name='body-collision-detection')  
          physics-behavior(name='sweep-prune')