doctype html
html(ng-app="app")
    head
        title Fix
        link(rel="stylesheet", href="/vendor/mdi/css/materialdesignicons.css")
        link(rel="stylesheet", href="/vendor/roboto-fontface/roboto-fontface.css")
        link(rel="stylesheet", href="/vendor/ionicons/css/ionicons.css", media="all")
        link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
        link(rel="stylesheet", href="/css/site.css")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    body(layout="column", ng-controller="SidenavController as vmSidenav")
        md-toolbar(layout="row")
            button.menuBtn(ng-click="vmSidenav.toggleSidenav('left')", hide-gt-sm="")
                i.mdi.mdi-menu
            h1.md-toolbar-tools(layout-align-gt-sm="center") FiX
        .content-wrapper(layout="row", flex="")
            md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column", md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')")
                md-list.muppet-list
                    md-item(ng-repeat="it in [1, 2, 3]")
                        md-item-content
                            md-button(ng-click="vmSidenav.closeSidenav('left')")
                                | Cerrar

            #primary-col.content-wrapper(layout="column", flex="")
                md-content.md-padding(layout="column", flex="")
                    div(md-header-picture="", style="background-image:url(/img/main.svg)")

                    div(ng-controller="gridListDemoCtrl as vm", flex="")
                        md-grid-list(md-cols-sm="1", md-cols-md="2", md-cols-gt-md="6", md-row-height-gt-md="1:1", md-row-height="4:3", md-gutter="8px", md-gutter-gt-sm="4px")
                            md-grid-tile(ng-repeat="tile in vm.tiles", ng-class="tile.background")
                                //md-icon(md-svg-icon="{{tile.icon}}")
                                md-grid-tile-footer
                                    h3 {{tile.title}}




            // Angular Material Dependencies
        //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js")
        //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js")
        //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js")
        //script(src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js")


        //script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
        //script(type="text/javascript", src="/vendor/velocity/velocity.js")
        //script(type="text/javascript", src="/vendor/moment/min/moment-with-locales.js")
        script(type="text/javascript", src="/vendor/angular/angular.js")
        //script(type="text/javascript", src="/vendor/lumx/dist/lumx.js")
        script(type="text/javascript", src="/vendor/angular-ui-router/release/angular-ui-router.js")
        script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
        script(type="text/javascript", src="/vendor/angular-aria/angular-aria.js")
        script(type="text/javascript", src="/vendor/angular-material/angular-material.js")
        script(type="text/javascript", src="/vendor/angular-touch/angular-touch.js")
        script(type="text/javascript", src="/vendor/physicsjs/dist/physicsjs-full.js")
        script(type="text/javascript", src="/app/app.js")
        script(type="text/javascript", src="/app/core/core.module.js")
        script(type="text/javascript", src="/app/core/config.js")
        script(type="text/javascript", src="/app/core/constants.js")
        script(type="text/javascript", src="/app/core/mainController.js")

        script(type="text/javascript", src="/app/js/custom.js")

        script(type="text/javascript", src="/app/physics/appFix.physics.module.js")
        script(type="text/javascript", src="/app/physics/config.js")
        script(type="text/javascript", src="/app/physics/constants.js")
        script(type="text/javascript", src="/app/physics/physics.states.js")
        //Widgets
        script(type="text/javascript", src="/app/layout/layout.module.js")
        script(type="text/javascript", src="/app/layout/topbar/topbarController.js")
        script(type="text/javascript", src="/app/layout/sidenav/sidenavController.js")
        script(type="text/javascript", src="/app/layout/sidenav/sidenavFactory.js")
        script(type="text/javascript", src="/app/widgets/widgets.module.js")
        //script(type="text/javascript", src="/app/widgets/fxLoading.js")
        //script(type="text/javascript", src="/app/widgets/scroll.js")
        //script(type="text/javascript", src="/app/widgets/physics/fxPhysicsBody.js")
        //script(type="text/javascript", src="/app/widgets/physics/fxPhysicsCanvas.js")

