extends ../../includes/physics/layout

block main-content
    .bodyContent(layout="column", ng-controller="AppCtrl")
        md-toolbar(layout="row")
            button.menuBtn(ng-click="toggleSidenav('left')", hide-gt-sm="")
                //span.visuallyhidden Menu
                i.ion-android-arrow-back
            h1.md-toolbar-tools(layout-align-gt-sm="center") My Favorite Muppets
        .content-wrapper(layout="row", flex="")
            md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column", md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')")
                md-list.muppet-list
                    md-item(ng-repeat="it in muppets")
                        md-item-content
                            md-button(ng-click="selectMuppet(it)", ng-class="{'selected' : it === selected }")
                                img.face(ng-src="{{it.iconurl}}", alt="")
                                | {{it.name}}
            #primary-col.content-wrapper(layout="column", flex="")
                md-content.md-padding(layout="column", flex="")
                    h2 {{selected.name}}
                    p {{selected.content}}
                    .cell
                        img(ng-src="{{selected.imgurl}}", alt="{{selected.imgalt}}")